.DS_Store
Thumbs.db
*.log
.env
.env.*
node_modules/
dist/
build/
.cache/
.DS_Store?

# Ignore images
*.png
*.jpg
*.jpeg
*.svg

# Track portfolio images
!Divya.jpg
!loanriskimage.png
!Meshocarbonimage.png
